* {
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

body {
    text-align: center;
    background: url(https://cdn.pixabay.com/photo/2016/12/30/19/33/children-1941336_1280.png), linear-gradient(to bottom, #f4f4e0, #eef9b0);
    background-size: cover;
}

#title-container{
    display: flex;
    margin: 0;
    width: 100vw;
    background-color: #f4f4e0e0;
    justify-content: center;

}


#title {
    width: fit-content;
    font-weight: bold;
    font-size: 3.2rem;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

.color1 { 
    color: #FF5733; 
}
.color2 { 
    color: #FFD700;
 }
.color3 { 
    color: #337BFF;
 }

#draggable-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 5rem;
}

#sortable {
    height: max-content;
    width: 70%;
    font-size: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0;
    margin: 0;
}

#sortable > div {
    height: max-content;
    padding: 1rem 1.3rem;
    min-width: 2.3rem;
    max-width: 2.3rem;
    border: 2px solid #ccc;
    cursor: move;
    user-select: none;
    transition: transform 0.2s ease;
    font-weight: bold;
    text-align: center;
    color: #ffff;
    border-radius: 30px;
}

#sortable > div:hover, #sortable > div:focus {
    outline: 3px solid #000000;  /* Agregar un borde verde para mejorar la accesibilidad */
}

#sortable > div.dragging {
    opacity: 0.5;
}

#sortable > div[aria-grabbed="true"] {
    background-color: #dcdcdc;  /* Cambia el fondo mientras se está arrastrando */
}

.draggableA, .draggableG, .draggableM, .draggableS, .draggableY { 
    background-color: #FF5733;
 } 
.draggableB, .draggableH, .draggableN, .draggableT, .draggableZ { 
    background-color: #FFBD33; 
} 
.draggableC, .draggableI, .draggableO, .draggableU, .draggableÑ { 
    background-color: #22d943; 
} 
.draggableD, .draggableJ, .draggableP, .draggableV { 
    background-color: #337BFF; 
} 
.draggableE, .draggableK, .draggableQ, .draggableW { 
    background-color: #8D33FF; 
} 
.draggableF, .draggableL, .draggableR, .draggableX { 
    background-color: #FF33A8; 
}


#sortable > div:hover {
    transform: scale(1.2);
    box-shadow: 4px 4px 15px rgb(0, 0, 0.2);
}
